# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.db
error.log
crash.log

# Node
node_modules/
.next/
out/
build/
.DS_Store
*.local

# Project specific
backend/error.log
backend/crash.log
frontend/debug.txt
frontend/out.html
